<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raizesdoaraguaia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aguasquentes"
        android:label="Raízes do Araguaia"
        android:roundIcon="@mipmap/aguasquentes"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="ExtraText">

        <!-- Tela inicial -->
        <activity
            android:name=".MainActivity1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Telas do app -->
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".BarraAguasActivity" android:exported="true" />
        <activity android:name=".BarraSerraActivity" android:exported="true" />
        <activity android:name=".PontalPraiaAraraActivity" android:exported="true" />
        <activity android:name=".PontalLago" android:exported="true" />
        <activity android:name=".PraiaQuartoCrescenteActivity" android:exported="true" />
        <activity android:name=".AguasQuentesInfoActivity" android:exported="true" />

    </application>

</manifest>
